/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* style banner */
.header{
    background-color: rgb(247, 247, 242);
    position: relative;
}
.header__banner{
    height: 500px;
    width: 100vw;
    /* position: absolute; */
}
.header__banner-text{
    height: inherit;
    background-image: url("./assets-20230210T080051Z-001/assets/Banner.png");
    background-size: contain;
    color: #5dc76b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__banner-text h1,p{
    margin-bottom: 1rem;
}
.header__banner-text h1{
    font-size: 3rem;
}
.header__banner-text p{
    font-weight: 100;
}
.header__icon-frame{
    width: 230px;
    height: 230px;
    margin: auto;
    border-radius: 50%;
    display: grid;
    place-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    background-color: #fff;
    left: 50%;
    transform: translate(-50%, 0);
    top: 73%;
}
.header__icon{
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 50%;
    padding: 10px;
    background-image: url("./assets-20230210T080051Z-001/assets/ava.png");
    background-size: contain;
}
.header__navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    height: 50px;
}
.profile--theme{
    color: rgb(0, 132, 255);
}
.header__navbar-icon{
    padding: 1rem;
    height: 80%;
    border-left: solid gray 1px;
    border-right: solid gray 1px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.header__navbar-icon i{
    margin-right: 1rem;
}
.header__navbar-icon:last-child{
    border-left: none;
}
